In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'F:\Data Science\ML Projects 22-09-2023\Real estate project\Data for ml\realtor_data_for_ml_dataset_1.csv')

In [3]:
df

,status,bed,bath,acre_lot,city,state,house_size,price
0,for_sale,8.0,4.0,0.06,Brooklyn,New York,3198.0,1799000.0
1,for_sale,3.0,2.0,0.09,Campbell Hall,New York,1482.0,284900.0
2,for_sale,3.0,3.0,0.11,Hopkinton,Massachusetts,2556.0,815000.0
3,for_sale,6.0,8.0,4.00,New Canaan,Connecticut,9385.0,5985000.0
4,for_sale,8.0,3.0,0.02,Bronx,New York,2565.0,975000.0
...,...,...,...,...,...,...,...,...
37614,for_sale,2.0,2.0,0.03,Atlantic City,New Jersey,1088.0,80000.0
37615,for_sale,4.0,4.0,2.54,Memphis,New York,2750.0,449900.0
37616,for_sale,4.0,2.0,0.08,Syracuse,New York,1548.0,105000.0
37617,for_sale,2.0,1.0,0.37,Esopus,New York,1133.0,245900.0
37618,for_sale,3.0,1.0,0.09,Worcester,Massachusetts,714.0,114900.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37619 entries, 0 to 37618
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   status      37619 non-null  object
 1   bed         37619 non-null  float64
 2   bath        37619 non-null  float64
 3   acre_lot    37619 non-null  float64
 4   city        37619 non-null  object
 5   state       37619 non-null  object
 6   house_size  37619 non-null  float64
 7   price       37619 non-null  float64
dtypes: float64(5), object(3)
memory usage: 2.3+ MB

In [5]:
df['bed'].dtype=='float64'

True

In [6]:
for i in df.columns:
    print(df[i].dtype)

object
float64
float64
float64
object
object
float64
float64

In [7]:
columns=['bed','bath','house_size','price']
for i in df[columns]:
    if (df[i].dtype) == 'float64':
        df[i]=df[i].astype('int32')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37619 entries, 0 to 37618
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   status      37619 non-null  object
 1   bed         37619 non-null  int32
 2   bath        37619 non-null  int32
 3   acre_lot    37619 non-null  float64
 4   city        37619 non-null  object
 5   state       37619 non-null  object
 6   house_size  37619 non-null  int32
 7   price       37619 non-null  int32
dtypes: float64(1), int32(4), object(3)
memory usage: 1.7+ MB

In [9]:
df

,status,bed,bath,acre_lot,city,state,house_size,price
0,for_sale,8,4,0.06,Brooklyn,New York,3198,1799000
1,for_sale,3,2,0.09,Campbell Hall,New York,1482,284900
2,for_sale,3,3,0.11,Hopkinton,Massachusetts,2556,815000
3,for_sale,6,8,4.00,New Canaan,Connecticut,9385,5985000
4,for_sale,8,3,0.02,Bronx,New York,2565,975000
...,...,...,...,...,...,...,...,...
37614,for_sale,2,2,0.03,Atlantic City,New Jersey,1088,80000
37615,for_sale,4,4,2.54,Memphis,New York,2750,449900
37616,for_sale,4,2,0.08,Syracuse,New York,1548,105000
37617,for_sale,2,1,0.37,Esopus,New York,1133,245900
37618,for_sale,3,1,0.09,Worcester,Massachusetts,714,114900

In [10]:
df.drop(columns=['status'], inplace=True)

In [11]:
df

       bed  bath  acre_lot           city          state  house_size    price
0        8     4      0.06       Brooklyn       New York        3198  1799000
1        3     2      0.09  Campbell Hall       New York        1482   284900
2        3     3      0.11      Hopkinton  Massachusetts        2556   815000
3        6     8      4.00     New Canaan    Connecticut        9385  5985000
4        8     3      0.02          Bronx       New York        2565   975000
...    ...   ...       ...            ...            ...         ...      ...
37614    2     2      0.03  Atlantic City     New Jersey        1088    80000
37615    4     4      2.54        Memphis       New York        2750   449900
37616    4     2      0.08       Syracuse       New York        1548   105000
37617    2     1      0.37         Esopus       New York        1133   245900
37618    3     1      0.09      Worcester  Massachusetts         714   114900

[37619 rows x 7 columns]

In [12]:
x=df.drop(columns=['price'])
y=df.price

In [13]:
x

       bed  bath  acre_lot           city          state  house_size
0        8     4      0.06       Brooklyn       New York        3198
1        3     2      0.09  Campbell Hall       New York        1482
2        3     3      0.11      Hopkinton  Massachusetts        2556
3        6     8      4.00     New Canaan    Connecticut        9385
4        8     3      0.02          Bronx       New York        2565
...    ...   ...       ...            ...            ...         ...
37614    2     2      0.03  Atlantic City     New Jersey        1088
37615    4     4      2.54        Memphis       New York        2750
37616    4     2      0.08       Syracuse       New York        1548
37617    2     1      0.37         Esopus       New York        1133
37618    3     1      0.09      Worcester  Massachusetts         714

[37619 rows x 6 columns]

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.7)

In [15]:
len(x_test)

26334

In [16]:
len(y_test)

26334

In [17]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
encode.fit_transform(df.city)

array([ 276,  320, 1051, ..., 2264,  728, 2602])

In [18]:
df['city'].nunique()

2622

In [19]:
df['state'].nunique()

12

In [20]:
encode.fit_transform(df.state)

array([6, 6, 3, ..., 6, 6, 3])

In [21]:
set(encode.fit_transform(df.state))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [22]:
df['city']=encode.fit_transform(df.city)
df['state']=encode.fit_transform(df.state)

In [23]:
df

       bed  bath  acre_lot  city  state  house_size    price
0        8     4      0.06   276      6        3198  1799000
1        3     2      0.09   320      6        1482   284900
2        3     3      0.11  1051      3        2556   815000
3        6     8      4.00  1544      0        9385  5985000
4        8     3      0.02   269      6        2565   975000
...    ...   ...       ...   ...    ...         ...      ...
37614    2     2      0.03    87      5        1088    80000
37615    4     4      2.54  1381      6        2750   449900
37616    4     2      0.08  2264      6        1548   105000
37617    2     1      0.37   728      6        1133   245900
37618    3     1      0.09  2602      3         714   114900

[37619 rows x 7 columns]

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.7)

In [25]:
x=df.drop(columns=['price'])
y=df.price

In [26]:
df

       bed  bath  acre_lot  city  state  house_size    price
0        8     4      0.06   276      6        3198  1799000
1        3     2      0.09   320      6        1482   284900
2        3     3      0.11  1051      3        2556   815000
3        6     8      4.00  1544      0        9385  5985000
4        8     3      0.02   269      6        2565   975000
...    ...   ...       ...   ...    ...         ...      ...
37614    2     2      0.03    87      5        1088    80000
37615    4     4      2.54  1381      6        2750   449900
37616    4     2      0.08  2264      6        1548   105000
37617    2     1      0.37   728      6        1133   245900
37618    3     1      0.09  2602      3         714   114900

[37619 rows x 7 columns]

In [27]:
y

0        1799000
1         284900
2         815000
3        5985000
4         975000
          ...
37614      80000
37615     449900
37616     105000
37617     245900
37618     114900
Name: price, Length: 37619, dtype: int32

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.7)

In [29]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=1000)

model.fit(x_train,y_train)

KeyboardInterrupt:

In [ ]:
model.score(x_test,y_test)

:

In [32]:
import time
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV

param_grid_decision_tree = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

# Create GridSearchCV objects for each model
grid_search_decision_tree = GridSearchCV(DecisionTreeRegressor(), param_grid_decision_tree, scoring='neg_mean_squared_error', cv=5)

# Measure the time for training each model
start_time = time.time()
grid_search_decision_tree.fit(x_train, y_train)
end_time = time.time()
print(f"Decision Tree Training Time: {end_time - start_time} seconds")

# Print best parameters and corresponding MSE for each model
print("Decision Tree Best Parameters:", grid_search_decision_tree.best_estimator_.get_params())
print("Decision Tree Best MSE:", -grid_search_decision_tree.best_score_)

Decision Tree Training Time: 1.3967900276184082 seconds
Decision Tree Best Parameters: {'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 10, 'min_weight_fraction_leaf': 0.0, 'random_state': None, 'splitter': 'best'}
Decision Tree Best MSE: 1601945460285.0918

In [35]:
model=DecisionTreeRegressor()

model.fit(x_train,y_train)

TypeError: __init__() takes 1 positional argument but 2 were given

In [31]:
import time
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV

param_grid_xgboost = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

grid_search_xgboost = GridSearchCV(XGBRegressor(), param_grid_xgboost, scoring='neg_mean_squared_error', cv=5)

start_time = time.time()
grid_search_xgboost.fit(x_train, y_train)
end_time = time.time()
print(f"XGBoost Training Time: {end_time - start_time} seconds")


print("XGBoost Best Parameters:", grid_search_xgboost.best_params_)
print("XGBoost Best MSE:", -grid_search_xgboost.best_score_)

XGBoost Training Time: 34.49829602241516 seconds
XGBoost Best Parameters: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}
XGBoost Best MSE: 998604016252.6875

In [ ]:
import time
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV



param_grid_decision_tree = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

param_grid_random_forest = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

param_grid_xgboost = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_lightgbm = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_catboost = {
    'learning_rate': [0.01, 0.1, 0.2],
    'depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_mlp_regressor = {
    'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50)],
    'activation': ['relu', 'tanh'],
    'learning_rate_init': [0.001, 0.01, 0.1]
}

# Create GridSearchCV objects for each model
grid_search_decision_tree = GridSearchCV(DecisionTreeRegressor(), param_grid_decision_tree, scoring='neg_mean_squared_error', cv=5)
grid_search_random_forest = GridSearchCV(RandomForestRegressor(), param_grid_random_forest, scoring='neg_mean_squared_error', cv=5)
grid_search_xgboost = GridSearchCV(XGBRegressor(), param_grid_xgboost, scoring='neg_mean_squared_error', cv=5)
grid_search_lightgbm = GridSearchCV(LGBMRegressor(), param_grid_lightgbm, scoring='neg_mean_squared_error', cv=5)
grid_search_catboost = GridSearchCV(CatBoostRegressor(), param_grid_catboost, scoring='neg_mean_squared_error', cv=5)
grid_search_mlp_regressor = GridSearchCV(MLPRegressor(), param_grid_mlp_regressor, scoring='neg_mean_squared_error', cv=5)

# Measure the time for training each model
start_time = time.time()
grid_search_decision_tree.fit(x_train, y_train)
end_time = time.time()
print(f"Decision Tree Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_random_forest.fit(x_train, y_train)
end_time = time.time()
print(f"Random Forest Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_xgboost.fit(x_train, y_train)
end_time = time.time()
print(f"XGBoost Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_catboost.fit(x_train, y_train)
end_time = time.time()
print(f"CatBoost Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_mlp_regressor.fit(x_train, y_train)
end_time = time.time()
print(f"MLP Regressor Training Time: {end_time - start_time} seconds")

# Print best parameters and corresponding MSE for each model
print("Decision Tree Best Parameters:", grid_search_decision_tree.best_params_)
print("Decision Tree Best MSE:", -grid_search_decision_tree.best_score_)

print("Random Forest Best Parameters:", grid_search_random_forest.best_params_)
print("Random Forest Best MSE:", -grid_search_random_forest.best_score_)

print("XGBoost Best Parameters:", grid_search_xgboost.best_params_)
print("XGBoost Best MSE:", -grid_search_xgboost.best_score_)

print("CatBoost Best Parameters:", grid_search_catboost.best_params_)
print("CatBoost Best MSE:", -grid_search_catboost.best_score_)

print("MLP Regressor Best Parameters:", grid_search_mlp_regressor.best_params_)
print("MLP Regressor Best MSE:", -grid_search_mlp_regressor.best_score_)

:

In [ ]:
import time
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings("ignore")

param_grid_decision_tree = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

param_grid_xgboost = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_lightgbm = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_catboost = {
    'learning_rate': [0.01, 0.1, 0.2],
    'depth': [3, 5, 7],
    'n_estimators': [50, 100, 200]
}

param_grid_mlp_regressor = {
    'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50)],
    'activation': ['relu', 'tanh'],
    'learning_rate_init': [0.001, 0.01, 0.1],
    'max_iter': [200, 500, 1000]  # Increase the max_iter values
}


# Create GridSearchCV objects for each model
grid_search_decision_tree = GridSearchCV(DecisionTreeRegressor(), param_grid_decision_tree, scoring='neg_mean_squared_error', cv=5)
grid_search_xgboost = GridSearchCV(XGBRegressor(), param_grid_xgboost, scoring='neg_mean_squared_error', cv=5)
grid_search_lightgbm = GridSearchCV(LGBMRegressor(), param_grid_lightgbm, scoring='neg_mean_squared_error', cv=5)
grid_search_catboost = GridSearchCV(CatBoostRegressor(), param_grid_catboost, scoring='neg_mean_squared_error', cv=5)
grid_search_mlp_regressor = GridSearchCV(MLPRegressor(), param_grid_mlp_regressor, scoring='neg_mean_squared_error', cv=5)

# Measure the time for training each model
start_time = time.time()
grid_search_decision_tree.fit(x_train, y_train)
end_time = time.time()
print(f"Decision Tree Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_xgboost.fit(x_train, y_train)
end_time = time.time()
print(f"XGBoost Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_lightgbm.fit(x_train, y_train)
end_time = time.time()
print(f"Lightgbm Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_catboost.fit(x_train, y_train)
end_time = time.time()
print(f"CatBoost Training Time: {end_time - start_time} seconds")

start_time = time.time()
grid_search_mlp_regressor.fit(x_train, y_train)
end_time = time.time()
print(f"MLP Regressor Training Time: {end_time - start_time} seconds")

# Print best parameters and corresponding MSE for each model
print("Decision Tree Best Parameters:", grid_search_decision_tree.best_params_)
print("Decision Tree Best MSE:", -grid_search_decision_tree.best_score_)

print("XGBoost Best Parameters:", grid_search_xgboost.best_params_)
print("XGBoost Best MSE:", -grid_search_xgboost.best_score_)

print("LightGBM Best Parameters:", grid_search_lightgbm.best_params_)
print("LightGBM Best MSE:", -grid_search_lightgbm.best_score_)

print("CatBoost Best Parameters:", grid_search_catboost.best_params_)
print("CatBoost Best MSE:", -grid_search_catboost.best_score_)

print("MLP Regressor Best Parameters:", grid_search_mlp_regressor.best_params_)
print("MLP Regressor Best MSE:", -grid_search_mlp_regressor.best_score_)

:

In [ ]:
a={'Decision Tree':{"Best Parameters":'grid_search_decision_tree.best_params_',
                "Best MSE:":'-grid_search_decision_tree.best_score_'}}

:

In [ ]:
a['Decision Tree']['Best Parameters']

:

In [ ]:
a={1:{"Best Parameters":'a',
                "Best MSE":-3}}
b={2:{"Best Parameters":'b',
                "Best MSE":-2}}
c={3:{"Best Parameters":'c',
                "Best MSE":2}}

list_a=[a,b,c]
list_a

:

In [ ]:
# Accessing MSE values
mse_a = a[1]["Best MSE"]
mse_b = b[2]["Best MSE"]
mse_c = c[3]["Best MSE"]

:

In [ ]:
model1 = {'ccp_alpha': 0.5, 'MSE':1.25}
model2 = {'ccp_alpha': 0.05, 'MSE':2.45}
model3 = {'ccp_alpha': 0.4, 'MSE':0.75}
model4 = {'ccp_alpha': 0.3, 'MSE':0.73}

list_of_models = [model1, model2, model3, model4]

# Find the model with the minimum MSE
min_model = min(list_of_models, key=lambda x: x['MSE'])

print("Model with the minimum MSE:", min_model)

:

: